$primary-font: "Open Sans", san-serif;
$secondary-font: "Raleway", san-serif;
$dark-theme-font: #ffffff;
$dark-theme-second-font: #9DA4BD; 
$light-theme-font: #303030;
$light-theme-second-font: #555555;
$accent-font-color: #FF6C00;
$background-color: #E5E5E5;
$second-bg-color: #191C26;
$subtitles-font:rgba(157, 164, 189, 0.6);