.button {
    display: inline-block;
    @include font(600, 12px, 16px, 0.09em);
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 160px;
    height: 40px;
    border-style: none;
    border: 1px solid $accent-font-color;
    border-radius: 25px;
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: $accent-font-color;
      color: $dark-theme-font;
    }
  &--light{
    background-color: $dark-theme-font;
    color: $light-theme-font;
  }

  &--dark{
    background-color: transparent;
    color: $dark-theme-font;
  }
  }